.typewriter {
    overflow: hidden; 
    border-right: .15em solid rgb(83, 13, 100);
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
      typing 3.1s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* Animation for typing effect */
  .typewriter-animation {
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to 50%{ border-color: rgb(83, 13, 100) }
    
  }

  
  